<div class="container-fluid">
  <h1>Coverband Demo</h1>
  <p>This application is to help show standard usage of the Coverband Ruby Gem.
     The goal of Coverband is to help you better understand your production runtime code usage.
   </p>
   <ul>
     <li>see what code is run most frequently</li>
     <li>see what code is execcuted in production that doesn't have test coverage</li>
     <li>find code that is never executed in production and could possibly be deleted</li>
     <li>ensure code is executed on staging prior to production</li>
     <li>detailed local debugging on a per request basis</li>
   </li>
  <br/>

  <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <p>Try all of the features of <a href="https://github.com/danmayer/coverband/blob/master/lib/coverband/reporters/web.rb">Coverband Rack App<a/> (Rails Mountable), endpoint</p>

  you can embed it like so: <%= button_to 'Coverband Web Index', '/coverage', method: :get, class: 'btn btn-primary' %>
  <br/>
  <br/>
  or you can directly link to it's features
  <br/>
  <%= button_to 'View Coverage Report', '/coverage/show', method: :get, class: 'btn btn-primary' %>
  <br/>
  <%= button_to 'Update Coverage Report', "/coverage/update_report", method: :post, class: 'btn btn-primary' %></li>
  <br/>
  <%= button_to 'Clear Coverage Data', '/coverage/clear', method: :post, class: 'btn btn-primary' %></li>
  <br/>
  <%= button_to 'Coverband Reload Coverage Files', '/coverage/reload_files', method: :post, class: 'btn btn-primary' %>

  <br/>
  A fake scaffold to show basic Rails usage.<br/>
  <%= link_to 'See Posts', posts_path %><br/>
  <%= link_to 'Trigger Background Job', '/trigger_jobs' %>
</div>
