<h1>Coverband Demo</h1>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<p>
  say some stuff
</p>

<%= link_to 'View Coverage Report', '/coverage' %><br/>
<%= link_to 'Update Coverage Report', "/coverage/update_report", method: :post %><br/>
<%= link_to 'Clear Coverage Data', '/coverage/clear', method: :post %><br/>
<%= link_to 'Coverband Reload Coverage Files', '/coverage/reload_files', method: :post %><br/>

A fake scaffold to show basic Rails usage.<br/>
<%= link_to 'See Posts', posts_path %>

<br>
<hr/>
footer:<br/>
The source code for the <a href="https://github.com/danmayer/coverband_demo">Coverband Demo</a> available on Github.
